body {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  margin: 0 auto;
  width: 60%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  width: 100%;
}

tr:nth-child(2n) {
  background-color: #d2deea;

}

td:nth-child(3) {
  background-color: #eceeb6;
}

td:nth-child(5) {
  background-color: #eceeb6;
}
td:nth-child(7) {
  background-color: #eceeb6;
}

td:nth-child(9) {
  background-color: #eceeb6;
}

td {
  border-bottom: 2px solid #cdc7c7;
}
